/* 
start -- disable header + controls 
*/

/** avoid fade in / out on hover **/
div.widget .chart-controls {
    display: block !important;
    opacity: 1 !important;
}

/** hide chart controls **/
.chart-controls a,
.markup .chart-controls a.exportCSV
{  
    pointer-events: none; 
    opacity: 0; }

/** show export icon on nonmarkup slices **/
.chart-controls a.exportCSV {
    pointer-events: auto;
    opacity: 1;
}

/** hide header controls for dashboard **/
header,
.favstar,
.btn-group
{ display: none; }
.react-resizable-handle {
display: none;
}

/* 
end disable header + controls 
*/